<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- formations.component.html -->
    <div class="container mt-5">
        <h3 class="text-warning">Formations</h3>
        <ul class="list-group mt-4">
        <li class="list-group-item">📅 Dates de début/fin</li>
        <li class="list-group-item">📘 Type et niveau de formation</li>
        <li class="list-group-item">💰 Montant, financement</li>
        <li class="list-group-item">📈 Nombre de formés par genre</li>
        <li class="list-group-item">📋 Emplois du temps</li>
        <li class="list-group-item">👨‍🏫 Gestion des formateurs</li>
        <li class="list-group-item">📅 Réunions pédagogiques</li>
        </ul>
    </div>
  
</body>
</html>