/* src/app/components/dashboard/dashboard.component.css */  
.card {  
    border-radius: 15px;  
    border: 1px solid #27A755;  
  }  


  .banner {  
      /* background-color: #007bff;   */
      color: black;   
      padding: 20px;  
      text-align: center;  
  }  

  div .banner img {  
    width: 100%;
    height: 100%;  
}
  .section {  
      margin-top: 20px;  
      padding: 20px;  
      border: 1px solid #ddd;  
      border-radius: 5px;  
  } 
  
  /* Ajoute un espace entre le menu et le contenu principal */
body {
    padding-top: 0px !important; /* Ajuste cette valeur en fonction de la hauteur de votre menu */
  }
