<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- communication.component.html -->
    <div class="container mt-5">
        <h3 class="text-success mb-4">Gestion des communications</h3>
        <ul class="list-group">
        <li class="list-group-item">📄 Réunions</li>
        <li class="list-group-item">📄 Séminaires / Webinaires</li>
        <li class="list-group-item">📄 Conseil d’Université</li>
        <li class="list-group-item">📄 Circulaires / Archives</li>
        </ul>
        <p class="mt-3">🔔 Des notifications seront envoyées automatiquement aux utilisateurs concernés.</p>
    </div>
  
</body>
</html>